<div class="page-width area-feat">
  <div class="content">
    <div class="part">
      <ul>
        <li>
          <img
            src="https://cdn.shopify.com/s/files/1/0790/0902/2231/files/ico-cart-part_430x.png?v=1689475120"
            width="35"
            height="35"
            loading="lazy"
            alt="">
        </li>
        <li>
          <div class="sh-divider"></div>
        </li>
        <li>
          <strong>Parcelamento Fácil</strong>
          <small>Suas compras em até 10x sem juros</small>
        </li>
      </ul>
    </div>

    <div class="part">
      <ul>
        <li>
          <img
            src="https://cdn.shopify.com/s/files/1/0790/0902/2231/files/ico-lock-part_430x.png?v=1689475120"
            width="35"
            height="35"
            loading="lazy"
            alt="">
        </li>
        <li>
          <div class="sh-divider"></div>
        </li>
        <li>
          <strong>Compre com segurança</strong>
          <small>Loja Certificada e auditada</small>
        </li>
      </ul>
    </div>

    <div class="part">
      <ul>
        <li>
          <img
            src="https://cdn.shopify.com/s/files/1/0790/0902/2231/files/ico-cut-part_430x.png?v=1689475120"
            width="35"
            height="35"
            loading="lazy"
            alt="">
        </li>
        <li>
          <div class="sh-divider"></div>
        </li>
        <li>
          <strong>Desconto no boleto</strong>
          <small>10% na sua primeira compra</small>
        </li>
      </ul>
    </div>
  </div>
</div>